<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div style="position: fixed">
<img src="/assets/images/Germany.jpg" class="rounded float-left img-thumbnail" style="margin: 20px;width: 40%;height: auto" alt="...">
    <img src="/assets/images/Germany.jpg" class="rounded float-left img-thumbnail" style="margin: 6px;width: 10%;height: auto;clear: both" alt="...">
      <img src="/assets/images/Germany.jpg" class="rounded float-left img-thumbnail" style="margin: 6px;width: 10%;height: auto" alt="...">
     <img src="/assets/images/Germany.jpg" class="rounded float-left img-thumbnail" style="margin: 6px;width: 10%;height: auto" alt="...">
     <img src="/assets/images/Germany.jpg" class="rounded float-left img-thumbnail" style="margin: 6px;width: 10%;height: auto" alt="...">

<div>
  



        <h1 style="margin-top: 70px">
    Cities Package 1
            </h1>
    <h5>Reviews:</h5><span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star "></span>
<span class="fa fa-star"></span>
    <span class="fa fa-star"></span>
    <hr>
    <h4><span style="text-decoration: line-through">$1000</span> $700</h4>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum</p>
    
    <hr>
    <ul style="margin: 20px">
    <li>Details</li>
         <li>Details</li>
         <li>Details </li>
         <li>Details </li>
         <li>Details </li>
          
    </ul>
     <a class="btn btn-primary" (click)="cart(button)">Add to Cart!</a>
 