/* .col-sm-5{margin: 30px;}

.card-img-top :hover {
    width : 550px;
    height : 550px;
    transition-duration: 5s;
    transform: rotateY(30deg);

} */

/* #trekking {
  transition: transform .2s; /* Animation */
  /* overflow:hidden;
  position: absolute;
}


#trekking:hover{transform:scale(1.5)} */
